    html {
    box-sizing: border-box;
    height: 100%;
    }
    *, *:before, *:after {
    box-sizing: inherit;
    }

    body {
   background-color: rgb(17, 17, 17, 0.9);
   background-image: url("../images/gplaypattern.png");
   
    }
    .card {
        height: 450px;


    }

    .image {
    height: 160px;
    border: solid 2px black;
    

    }

    .card-title {
    height: 50px;

    }

    .search {
        /* float: right; */
        text-align: right;


    }

    .search {
        text-align: right;


    }

    .submitBtn {
        text-align: right;
    }

    .scroll-right, .scroll-left {
        width: 75px;

    }


    /* .tix-link {
        margin: 0 30px;



    } */
    .fav {
        width: 30px;
        height: 30px;

    }










   /* font-family: 'Abril Fatface', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Dosis', sans-serif; */
